<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family friss demo app</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/LoginForm.min.css")
    @Styles.Render("~/Content/Site.min.css")
    @Styles.Render("~/Content/NavigationForm.min.css")
    @Styles.Render("~/Content/FunctionsForm.min.css")
    @Styles.Render("~/Content/InventoryRecordingForm.min.css")
    @Styles.Render("~/Content/UpdateInventoryForm.min.css")
    @Styles.Render("~/Content/UpdateItemModal.min.css")
    @Styles.Render("~/Content/SearchItemModal.min.css")
    @Styles.Render("~/Content/YesNoModal.min.css")

    @Styles.Render("~/Content/font-awesome.min.css")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.min.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.min.js")
    @Scripts.Render("~/Scripts/angular-animate.min.js")
    @Scripts.Render("~/Scripts/angular-messages.min.js")
    @Scripts.Render("~/Scripts/angular-translate.min.js")
    @Scripts.Render("~/Scripts/i18n/angular-locale_FamilyFriss_hu.js")

    @Scripts.Render("~/myScripts/Module.js")
    @Scripts.Render("~/myScripts/Service.js")
    @Scripts.Render("~/myScripts/Controller.js")
</head>
<body ng-app="demoApp" ng-controller="demoController">

    <div id="wrapper" style="display:none;">
        <header>
            <nav class="navbar">
                <div class="navbar-brand">
                    <img src="~/Img/logo.jpg"/>
                </div>
                <div id="HeaderMessage" class="nav-item">
                    {{HeaderMessage}}  
                    @*Ide kell majd a kijelentkező gomb*@
                    <i class="fa fa-power-off" ng-show="UserLoggedIn" ng-click="LogOutModal()" style="font-size:150%;cursor:pointer;padding-left:10px;" aria-hidden="true"></i>
                </div>
            </nav>
        </header>

        <div class="container body-content">
            @RenderBody()
        </div>

    </div>

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("wrapper").style.display = "block";
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
