<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family friss demo app</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/LoginForm.css")
    @Styles.Render("~/Content/Site.css")


    @Scripts.Render("~/Scripts/angular.min.js")
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    @Scripts.Render("~/Scripts/angular-messages.min.js")
    <script src="~/Scripts/angular-translate.min.js"></script>
    <script src="~/Scripts/i18n/angular-locale_FamilyFriss_hu.js"></script>

    @Scripts.Render("~/myScripts/Module.js")
    @Scripts.Render("~/myScripts/Service.js")
    @Scripts.Render("~/myScripts/Controller.js")
</head>
<body ng-app="demoApp" ng-controller="demoController">

    <div id="Wrapper" style="display:none;">
        <header>
            <div class="row">
                <div class="col-2">
                    @*<img src="~/Img/logo.jpg" style="height:50px; width:auto;"/>*@
                </div>
                <div id="HeaderMessage" class="col-10 text-right">
                    {{HeaderMessage}}
                </div>
            </div>
        </header>

        <div class="container body-content">
            @RenderBody()
        </div>

    </div>

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("Wrapper").style.display = "block";
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
