@using FamilyFrish_Demo.Resources;

<div class="modal fade bd-example-modal-lg" id="updateItemModalContainer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                @*Modal spinner*@
                <div id="updateItemModalSpinner" ng-show="IsUploadInProgress" class="d-flex justify-content-center text-center">
                    <div class="spinner-border customSpinner" role="status">
                    </div>
                </div>

                <div id="updateItemModalContent" ng-show="!IsUploadInProgress">
                    <div class="row">
                        <div class="col-2">
                            <label id="updateItemModalLblBarCode">@Alapadatok.UpdateItemModalBarCode</label>
                        </div>
                        <div class="col-10">
                            <input id="updateItemModalBarCode" type="text" class="form-control" ng-model="ItemModalModel.barCode" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label id="updateItemModalLblItemNumber">@Alapadatok.UpdateItemModalItemNumber</label>
                        </div>
                        <div class="col-10">
                            <input id="updateItemModalItemNumber" type="text" class="form-control" ng-model="ItemModalModel.itemNumber" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label id="updateItemModalLblItemName">@Alapadatok.UpdateItemModalItemName</label>
                        </div>
                        <div class="col-10">
                            <input id="updateItemModalItemName" type="text" class="form-control" ng-model="ItemModalModel.itemName" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label id="updateItemModalLblFindCount">@Alapadatok.UpdateItemModalFindCount</label>
                        </div>
                        <div class="col-4">
                            <input id="updateItemModalFindCount" type="number" class="form-control" ng-model="ItemModalModel.itemCount" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label id="updateItemModalLblComment">@Alapadatok.UpdateItemModalComment</label>
                        </div>
                        <div class="col-12">
                            <textarea id="updateItemModalComment" class="form-control" rows="3" ng-model="ItemModalModel.comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-10">
                        <button id="updateItemModalBtnCancel" type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Alapadatok.UpdateItemModalCancel</button>
                    </div>
                    <div class="col-2">
                        <button id="updateItemModalBtnDone" ng-click="UpdateItem(ItemModalModel)" type="button" class="btn btn-success" data-toggle="modal" data-target="#yesNoModalContainer">@Alapadatok.UpdateItemModalDone</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>