@using FamilyFrish_Demo.Resources;

<div class="col-12" id="updateInventoryContainer">
    <div class="row" id="updateInventoryInputsContainer">
        <div class="col-9">
            @*Inputs*@
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input id="updateInventoryBarCode" type="number" class="form-control" placeholder="@Alapadatok.UpdateInventoryBarCode">
                        <div class="input-group-append">
                            <button id="updateInventoryBtnSearchByBarCode"  class="btn btn-secondary" type="button">Src</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input id="updateInventoryItemNumber" type="text" class="form-control" placeholder="@Alapadatok.UpdateInventoryItemNumber">
                        <div class="input-group-append">
                            <button id="updateInventoryBtnSearchByItemNumber" class="btn btn-secondary" type="button">Src</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input id="updateInventoryItemName" type="text" class="form-control" placeholder="@Alapadatok.UpdateInventoryItemName">
                        <div class="input-group-append">
                            <button id="updateInventoryBtnSearchByItemName" class="btn btn-secondary" type="button">Src</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            @*Update button*@
            <div class="row">
                <button id="updateInventoryBtnUpload" class="btn btn-block btn-secondary updateInventoryFunctionButtons" type="button">@Alapadatok.UpdateInventoryUpload</button>
            </div>
            @*Search button*@
            <div class=" row">
                <button id="updateInventoryBtnSearch" class="btn btn-block btn-secondary updateInventoryFunctionButtons" type="button">@Alapadatok.UpdateInventorySearch</button>
            </div>
        </div>
    </div>

    <div id="updateInventrorySpinner" ng-hide="true" class="d-flex justify-content-center">
        <div class="spinner-border customSpinner" role="status">
        </div>
    </div>

    <div class="row" id="itemResultContainer">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th id="updateInventoryTblHeaderBarCode">@Alapadatok.TableHeaderBarCode</th>
                        <th id="updateInventoryTblHeaderItemNumber">@Alapadatok.TableHeaderItemNumber</th>
                        <th id="updateInventoryTblHeaderItemName">@Alapadatok.TableHeaderItemName</th>
                        <th id="updateInventoryTblHeaderItemCount">@Alapadatok.TableHeaderItemCount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ItemModelList track by $index">
                        <td id="updateInventoryTblDataBarCode_{{$index}}">{{item.barCode}}</td>
                        <td id="updateInventoryTblDataItemNumber_{{$index}}">{{item.itemNumber}}</td>
                        <td id="updateInventoryTblDataItemName_{{$index}}">{{item.itemName}}</td>
                        <td id="updateInventoryTblDataItemCount_{{$index}}" style="text-align:right;">{{item.itemCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>