@using FamilyFrish_Demo.Resources;

<div class="col-12" id="updateInventoryContainer">
    <div class="row" id="updateInventoryInputsContainer">
        <div class="col-9">
            @*Inputs*@
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input id="updateInventoryBarCode" type="number" ng-model="FindBarCode" class="form-control" placeholder="@Alapadatok.UpdateInventoryBarCode">
                        <div class="input-group-append">
                            <button id="updateInventoryBtnSearchByBarCode" ng-click="SearchByBarcode(FindBarCode)"  class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input id="updateInventoryItemNumber" type="text" ng-model="FindItemNumber" class="form-control" placeholder="@Alapadatok.UpdateInventoryItemNumber">
                        <div class="input-group-append">
                            <button id="updateInventoryBtnSearchByItemNumber" ng-click="SearchByItemNumber(FindItemNumber)" class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input id="updateInventoryItemName" type="text" ng-model="FindItemName" class="form-control" placeholder="@Alapadatok.UpdateInventoryItemName">
                        <div class="input-group-append">
                            <button id="updateInventoryBtnSearchByItemName" ng-click="SearchByItemName(FindItemName)" class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            @*Update button*@
            <div class="row">
                <button id="updateInventoryBtnUpload" ng-click="ActivateUploadFunctions()" class="btn btn-block btn-outline-secondary active updateInventoryFunctionButtons" type="button">@Alapadatok.UpdateInventoryUpload</button>
            </div>
            @*Search button*@
            <div class=" row">
                <button id="updateInventoryBtnSearch" ng-click="ActivateSearchFunctions()" class="btn btn-block btn-outline-secondary updateInventoryFunctionButtons" type="button">@Alapadatok.UpdateInventorySearch</button>
            </div>
        </div>
    </div>

    <div style="margin-top:50px;" ng-show="IsSearchInProgress">
        <div id="updateInventrorySpinner" class="d-flex justify-content-center">
            <div class="spinner-border customSpinner" role="status">
            </div>
        </div>
    </div>

    <div class="row" id="itemResultContainer" ng-show="ItemModelList.length > 1 && !IsSearchInProgress">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th id="updateInventoryTblHeaderBarCode">@Alapadatok.TableHeaderBarCode</th>
                        <th id="updateInventoryTblHeaderItemNumber">@Alapadatok.TableHeaderItemNumber</th>
                        <th id="updateInventoryTblHeaderItemName">@Alapadatok.TableHeaderItemName</th>
                        <th id="updateInventoryTblHeaderItemCount" ng-show="IsSearchEnabled">@Alapadatok.TableHeaderItemCount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ItemModelList track by $index" ng-click="OpenModal(item)">
                        <td id="updateInventoryTblDataBarCode_{{$index}}">{{item.barCode}}</td>
                        <td id="updateInventoryTblDataItemNumber_{{$index}}">{{item.itemNumber}}</td>
                        <td id="updateInventoryTblDataItemName_{{$index}}">{{item.itemName}}</td>
                        <td ng-show="IsSearchEnabled" id="updateInventoryTblDataItemCount_{{$index}}" style="text-align:right;">{{item.itemCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>