@using FamilyFrish_Demo.Resources;

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateItemModalContainer">
    UpdateItemDemoModal
</button>

<div class="modal fade" id="updateItemModalContainer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                @*Modal spinner*@
                <div ng-hide="true" class="d-flex justify-content-center text-center">
                    <div class="spinner-border customSpinner" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label>@Alapadatok.UpdateItemModalBarCode</label>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" ng-model="ItemModalModel.barCode" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>@Alapadatok.UpdateItemModalItemNumber</label>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" ng-model="ItemModalModel.itemNumber" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>@Alapadatok.UpdateItemModalItemName</label>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" ng-model="ItemModalModel.itemName" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>@Alapadatok.UpdateItemModalFindCount</label>
                    </div>
                    <div class="col-4">
                        <input type="number" class="form-control" ng-model="ItemModalModel.itemCount" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>@Alapadatok.UpdateItemModalComment</label>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" rows="3" id="comment" ng-model="ItemModalModel.comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">@Alapadatok.UpdateItemModalCancel</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#yesNoModalContainer">@Alapadatok.UpdateItemModalDone</button>
            </div>
        </div>
    </div>

</div>