<div>

    <div ng-hide="true" class="d-flex justify-content-center">
        <div class="spinner-border customSpinner" role="status">
        </div>
    </div>

    <div class="row" ng-show="UserLoggedIn">
        @Html.Partial("~/Views/Partial/NavigationForm.cshtml")
    </div>

    <div class="row" ng-show="!UserLoggedIn">
        @Html.Partial("~/Views/Partial/LoginForm.cshtml")
    </div>

    <div class="row" ng-show="ShowFunctionsForm && UserLoggedIn">
        @Html.Partial("~/Views/Partial/FunctionsForm.cshtml")
    </div>

    <div class="row" ng-show="ShowRecordingForm && UserLoggedIn">
        @Html.Partial("~/Views/Partial/InventoryRecordingForm.cshtml")
    </div>

    <div class="row" ng-show="ShowUpdateInventoryForm && UserLoggedIn">
        @Html.Partial("~/Views/Partial/UpdateInventoryForm.cshtml")
    </div>

    <div class="row">
        @Html.Partial("~/Views/Partial/UpdateItemModal.cshtml")
        @Html.Partial("~/Views/Partial/SearchItemModal.cshtml")
        @Html.Partial("~/Views/Partial/YesNoModal.cshtml")
    </div>

    <div id="globalInformations">
        <div class="row">
            <div class="col-12 text-center">
                <div uib-alert dismiss-on-timeout="{{alertsTimeout}}" ng-repeat="alert in modalAlerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeModalAlert($index)">{{alert.msg}}</div>
            </div>
        </div>
    </div>

    </div>
